.header__lang-link{
    color: #ffffff;
    text-decoration: none;
    transition: opacity 0.8s;
}
.header__lang-link:hover{
    opacity: 0.8;
  
}
.header__lang-link:last-child{
    margin-left: 18px;
    
}