
.photo-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    padding-bottom: 92px;
    padding-top: 92px;
    padding-left: 0;
    list-style-type: none;
    
  }
  
  @media screen and (min-width: 1281px) {
    .photo-grid {
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media screen and (max-width: 1125px) {
    .photo-grid {
      max-width: 928px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 11px;
    }
  }
  
  
  @media screen and (max-width: 896px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      gap: 13px;
      max-width: 720px;
      padding-bottom: 88px;
      padding-top: 88px;
    }
  }
  
  @media screen and (max-width: 544px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
  
  @media screen and (max-width: 440px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 12px;
      max-width: 288px;
      padding-bottom: 64px;
      padding-top: 64px;
    }
  }