.photo-grid{
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
    max-width: 1184px;
    min-width:  671px;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 92px;
    list-style-type: none;
}
@media screen and (max-width: 1125px) {
    .photo-grid{
        max-width: 928px;
        min-width: 288px;
        min-height: 942px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media  screen and (max-width: 896px) {
    .photo-grid{
        max-width: 720px;
        min-height: 1664px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 88px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 544px) {
    .photo-grid{
        max-width: 288px;
        min-height: 2724px;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 64px;
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-rows: auto;
    }
}
/*.photo-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
    gap: 16px;
    max-width: 1184px;
    padding-bottom: 92px;
    padding-left: 0;
    list-style-type: none;
    
  }
  
  @media screen and (min-width: 1281px) {
    .photo-grid {
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .photo-grid {
      max-width: 928px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(225px, 1fr));
      gap: 11px;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(264px, 1fr));
      gap: 13px;
      max-width: 720px;
      padding-bottom: 88px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
  
  @media screen and (max-width: 320px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
      gap: 12px;
      max-width: 288px;
      padding-bottom: 64px;
    }
  }*/