.place__url-heading{
    max-width: 456px;
    height: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
    margin-top: 0;
    padding-top: 0;
}