.places{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    max-width: 984px;
    min-width: 320px;
    margin-left: 148px;
    margin-right: 148px;
    display: grid;
    grid-template-columns: auto;
    row-gap: 80px;
}
@media screen and (max-width: 1125px) {
    .places{
        max-width: 928px;
        margin-left: 18px;
        margin-right: 18px;
    }
}
@media  screen and (max-width: 896px) {
    .places{
        max-width: 720px;
        margin-left: 24px;
        margin-right: 24px;
        row-gap: 73px;
    }
}
@media screen and (max-width: 544px) {
    .places{
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
}