.place__image{
    grid-row: 2/3;
    max-width: 460px;
    height: 460px;
    margin: 0;
    padding: 0; 
}
@media screen and (max-width: 1125px) {
    .place__image{
        width: 440px;
        height: 440px;
    }
}
@media  screen and (max-width: 896px) {
    .place__image{
        width: 340px;
        height: 340px;
    }
}
@media screen and (max-width: 544px) {
    .place__image{
        width: 320px;
        height: 320px;
        grid-row: 3;
    }
}