.place{
    max-width: 984px;
    min-width: 320px;
    min-height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 1125px) {
    .place{
        max-width: 928px;
        min-height: 640px;
        column-gap: 32px;
    }
}
@media  screen and (max-width: 896px) {
    .place{
        max-width: 720px;
        min-height: 581px;
        column-gap: 28px;
    }
}
@media screen and (max-width: 544px) {
    .place{
        max-width: 320px;
        min-height: 964px;
        padding: 0;
        grid-template-rows: 35px 46px 320px auto;
        row-gap: 32px;
    }
}